Not work with grpc v1.53.0

The latest version v3.3.1 does not work with grpc v1.53.0. When compiling, I get the following error:

../go1.18.1/pkg/mod/github.com/sercand/kuberesolver/v3@v3.1.1/builder.go:81:12: invalid operation: end == "" (mismatched types func() string and untyped string)
../go1.18.1/pkg/mod/github.com/sercand/kuberesolver/v3@v3.1.1/builder.go:82:9: cannot use target.Authority (variable of type string) as type func() string in assignment
../go1.18.1/pkg/mod/github.com/sercand/kuberesolver/v3@v3.1.1/builder.go:86:12: invalid operation: end == "" (mismatched types func() string and untyped string)
../go1.18.1/pkg/mod/github.com/sercand/kuberesolver/v3@v3.1.1/builder.go:91:23: cannot use end (variable of type func() string) as type string in argument to strings.LastIndex
../go1.18.1/pkg/mod/github.com/sercand/kuberesolver/v3@v3.1.1/builder.go:92:10: cannot use end (variable of type func() string) as type string in assignment
../go1.18.1/pkg/mod/github.com/sercand/kuberesolver/v3@v3.1.1/builder.go:97:39: cannot use end (variable of type func() string) as type string in argument to net.SplitHostPort

This is because in grpc v1.53.0, the "target.Endpoint" is a function. Can you fix it?
 

See https://github.com/sercand/kuberesolver/pull/35

@sercand 2 weeks+ have now passed and it's blocking people. Could you please have a look at the above PR?

See https://github.com/sercand/kuberesolver/pull/37

Different than PR 36 as net/url can't adequately parse named ports in URLs correctly. 37 above goes to some extensive efforts to make sure all the supported resolving approaches work. If I missed one, let me know.

> Different than PR 36 as net/url can't adequately parse named ports in URLs correctly. 37 above goes to some extensive efforts to make sure all the supported resolving approaches work. If I missed one, let me know.

@mikewiacek As far as I'm aware, #36 still supports all existing supported use cases. It's not that `net/url` can't adequately parse named ports in URLs, it's that ports in the authority component of RFC 3986 URLs _must be_ numeric (see [RFC 3986 § 3.2.3](https://www.rfc-editor.org/rfc/rfc3986#section-3.2.3)). As of https://github.com/grpc/grpc-go/pull/4817, the Go gRPC target parser uses `url.Parse` to parse the dial target, so a custom resolver wouldn't ever even be able to handle a URL like `kubernetes://service:port` because that's not a valid RFC 3986 URL and gRPC now formally requires RFC 3986 URLs for targets.

I'm really sorry for the late response. For some reason, I couldn't see the notifications for this.

#36 is merged and [v4.0.0](https://github.com/sercand/kuberesolver/releases/tag/v4.0.0) released